body {
  overflow-x: hidden;
}

.main-container {
  background-color: #181622;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  background-color: #373639;
  color: aliceblue;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  gap: 2px;
}

.nav-title-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 50px;
  color: #8cc73d;
}

.nav-links-container {
  display: flex;
  gap: 30px;
}

.nav-links-container a {
  font-size: 20px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link {
  color: aliceblue !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #8cc73d !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #8cc73d;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-right-icons-container {
  display: flex;
  gap: 20px;
}

.nav-dots-icon,
.nav-user-icon {
  width: 40px;
  height: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.month-day-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.month-btn, .day-btn {
  background-color: #8cc73d;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  border-radius: 2px;
}

.month-title, .day-title {
  color: aliceblue;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.month-btn:hover, .day-btn:hover {
  background-color: #6ba72d;
}

.day-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.tname {
  text-align: start;
  background-color: #373639;
}

.table-container {
  padding: 15px 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #373639;
  margin-left: 80px;
  margin-right: 80px;
}

.tablesT-container {
  width: 100px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid rgba(240, 248, 255, 0.048);
}

th, td {
  text-align: center;
  cursor: pointer;
}

.table1-title-style {
  background-color: #f8f9fa;
  color: #8cc73d !important;
  font-weight: bold;
  padding: 12px 15px;
  text-align: start;
  border-bottom: 3px solid #8cc73d;
}

.table2-title-style {
  background-color: #f8f9fa;
  color: #8cc73d !important;
  font-weight: bold;
  padding: 12px 15px;
}

.table-container-title {
  color: aliceblue;
  font-size: 20px;
  margin-left: 30px;
}

.custom-card {
  background-color: #373639 !important;
  border-radius: 10px;
  padding: 10px;
  color: #fff !important;
  height: 600px;
  width: 300px;
  margin-top: 75px;
}

.card-item {
  font-size: 27px;
  margin-bottom: 5px;
  color: #8cc73d !important;
}

.card-value {
  font-size: 18px;
  font-weight: bold;
  color: #fff !important;
}

.add-transaction-form {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-transaction-form h2 {
  margin-bottom: 20px;
}

.add-transaction-form input,
.add-transaction-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-transaction-form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-transaction-form button:hover {
  background-color: #218838;
}

.bg-green {
  background-color: #6ba72d;
}

.divT,
.card-titleT {
  margin: 10px;
}

.card-titleT {
  padding-bottom: 10px;
  color: #6ba72d;
}

.table-container-title {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.btn-add-account {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 15px;
  border: 1px solid #28a745;
}

.btn-add-account:hover {
  background-color: #218838;
  transform: scale(1.0);
}

.btn-add-account:focus {
  outline: none;
}

.table td {
  vertical-align: middle; 
}

.table td .btn {
  margin: 0 auto; 
}

.table .table-actions-cell {
  text-align: center; 
}

.table1-title-style {
  text-align: left; 
}

.btn-set {
  background-color: rgba(235, 235, 17, 0.973);
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-delete {
  background-color: rgba(252, 69, 99, 0.904);
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-analise {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
}

/* Ajuste para a custom-card */
.custom-card {
  background-color: #373639 !important;
  border-radius: 10px;
  padding: 15px;
  color: #fff !important;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; /* Ajuste do espaçamento entre as cartas */
}

/* Responsividade */
@media (max-width: 1278px) {
  .custom-card {
    width: 100%;
    max-width: 350px;
    margin-right: 20px; /* Garante que as cartas não encostem na borda direita */
    margin-bottom: 20px; /* Adiciona margem entre as cartas */
  }
}

@media (max-width: 1024px) {
  .custom-card {
    width: 90%;
    max-width: 250px;
    height: auto;
    margin-top: 20px;
  }

  .card-item {
    font-size: 22px;
  }

  .card-value {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .custom-card {
    width: 80%;
    max-width: 230px;
    margin: 20px auto;
    height: auto;
  }

  .card-item {
    font-size: 20px;
  }

  .card-value {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .custom-card {
    width: 70%;
    max-width: 170px;
    margin: 20px 0;
    height: auto;
  }

  .card-item {
    font-size: 18px;
  }

  .card-value {
    font-size: 14px;
  }
}

/* Estilo para a análise de economia */
.card-analise {
  margin-top: 20px; /* Ajuste a margem superior */
  padding: 15px; /* Para garantir que o conteúdo fique bem espaçado */
  background-color: #373639; /* Cor de fundo consistente */
  border-radius: 8px;
  color: #fff;
  margin-bottom: 30px; /* Espaçamento inferior para não grudar na parte de baixo */
}

.card-analise .card-body {
  padding: 10px;
}

.card-analise .card-title {
  font-size: 18px;
  color: #8cc73d; /* Cor do título */
  font-weight: bold;
}

.card-analise .card-text {
  font-size: 16px;
  color: #fff; /* Cor do texto da análise */
}

/* Ajuste geral para colunas e containers */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.table-container {
  padding: 15px 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #373639;
  margin-left: 20px; /* Ajustando a margem para não encostar nas bordas */
  margin-right: 20px;
}

.transactions-resume {
  margin-top: 100px;
}


/* Responsividade */
@media (max-width: 1278px) {
  .custom-card {
    width: 100%;
    max-width: 350px;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .custom-card {
    width: 90%;
    max-width: 250px;
    height: auto;
    margin-top: 20px;
  }

  .card-item {
    font-size: 22px;
  }

  .card-value {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .custom-card {
    width: 80%;
    max-width: 230px;
    margin: 20px auto;
    height: auto;
  }

  .card-item {
    font-size: 20px;
  }

  .card-value {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .custom-card {
    width: 70%;
    max-width: 170px;
    margin: 20px 0;
    height: auto;
  }

  .card-item {
    font-size: 18px;
  }

  .card-value {
    font-size: 14px;
  }
}
